@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;


/* Certifique-se de que estes estilos sejam aplicados globalmente */


}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



@layer components{
  .botao {
    @apply bg-blue-500 text-white;
    @apply rounded px-4 py-2;
  }

  .botao.vermelho {
    @apply bg-red-700;
  }
  @layer utilities{
    .boxed{
      @apply mx-auto max-w-7xl w-full;
    }

    .no-scrollbar {
      overflow: hidden;
    }
  }

  
  
  
}


  